.sc-feUYzb.Nfhbm {
max-width: 10000px;
}

.data-table-container {
  width: 90%;
}

.Nfhbm {
  width: 95% !important;
  border-radius: inherit;
  overflow-x: none !important;
  overflow-y: none !important;
  min-height: 0;
}