.data-table {
  display: grid;
  flex-direction: row;
  height: fit-content;
  width: 100%;
  /* grid-template-columns: repeat(10, minmax(0, 100%)) ;  */
  grid-template-columns: 1fr 1fr repeat(5, 3fr) 1fr repeat(2, 3fr) ; 
 
  grid-auto-rows: minmax(fit-content, 100%); 

  font-size: 12px;
  border: 1px solid rgb(218, 218, 218);
  border-radius: 5px;
}

.data-row-value {
  display: flex;
  width: 100%;
  flex-direction: row;
  padding: 3px;
  box-sizing: border-box;
}

.net-income,
.shareholders-equity,
.outstanding-shares{
  font-size: 11px;
}

.data-row-value.header{
  background-color: #748D92 ;
  color: #faf7f2;
}

.even-row {
  background-color: #f9f9f9;
}

.odd-row {
  background-color: #D3D9D4;
}

.data-row {
  display: contents; /* This makes sure each row div only affects its children and not the grid layout */
}
