.graph-container canvas{
    width: 100% !important;
    max-width: 1400px;
    height: 90% !important;
    max-height: 800px;
    margin:auto;
    margin-left: 0px;
    margin-block: 30px;
}

@media only screen and (max-width: 800px) {
    .graph-container canvas {
      min-height: 200px;
    }
  }