.home-page-container {
  width: 100%;
  max-width: 1700px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;

}

.home-page-container2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1700px;
  justify-content: center;

}

.homepage-sub-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
