.home-page-container {
  width: 100%;
  max-width: 1700px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;

}

.home-page-container2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1700px;
  justify-content: center;

}

.homepage-sub-container {
  width:100%;
  overflow: hidden;
}

.no-favourites{
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  align-items: center;
  margin: 20px;
  background-color: #FAF7F2;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height:min-content;
  min-width: 600px;
  box-sizing: border-box;
  overflow: hidden;
}