.fav-button{
  width: 155px;
  height:40px;
  background-color: #144E66;;
  box-shadow: none;
  color: inherit;
  border: none;
  padding: 0 15px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  border-radius: 5px 5px 5px 5px; 
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FAF7F2;
  margin-bottom: 10px;
}
.fav-button:hover {
  transition: all 150ms linear;
  background-color: #212A31;
}
