.stock-article h1{
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 10px;
}
.stock-article h2{
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 500;
}

.stock-title-card{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.stock-info{
  display: flex;
  flex-direction: column;
  max-width: 1400px;
}

.stock-article{
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  width: min-content;
  height:min-content;
  min-height: 200px;
  width:95%;
  flex-grow: 1;
}

.close-button{
  display: flex;
  width: 100%;
  justify-content: flex-end;
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .stock-article{
    height:min-content;
    width:95%;
    min-width: 20px !important;
    height: overflow;
  }
  .stock-article h2{
    font-size: 20px;
  }
  .stock-article h1{
    font-size: 24px;
  }
  .close-button{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
  }
}