.stock-article h1 {
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 10px;
}

.stock-article h2 {
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 500;
}

.stock-title-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
}

.stock-title-card-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: fit-content;
  width: fit-content;
}

.stock-title-card-left h1 {
  width: 100%;
  background-color: #faf7f2e3;
  border-radius: 8px;
  padding: 10px;
}

.stock-title-card-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  height: 100%;
  width: min-content;
}

.stock-info {
  display: flex;
  flex-direction: column;
  max-width: 1400px;
}

.stock-article {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  background-color: #FAF7F2;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  width: min-content;
  height: min-content;
  min-height: 200px;
  width: 95%;
  max-width: 95%;
  flex-grow: 1;
  box-sizing: border-box
}

.close-button {

  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
}

.selected-stock-summary-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.selected-stock-header {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: row;
  align-items: start;
  background-size: 55%;
  background-position: top 10px left -60px;
  background-repeat: no-repeat;
  background-color: #748D92;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.selected-stock-header.animate {
  animation: backgroundGrow 1s ease-in;
}
@keyframes backgroundGrow {
  0% {
    background-size: 0%;
  }
  100% {
    background-size: 55%;
  }

}



.selected-stock-description {
  /* max-height: 185px;
  overflow-y: scroll; FOR SCROLLBAR */
  padding-left: 0px;
  box-sizing: border-box;
  border-radius: 8px;
  margin-top: 0px;
}

.selected-stock-description::-webkit-scrollbar {
  width: 12px;
}

.selected-stock-description::-webkit-scrollbar-track {
  background: #D3D9D4;
  border-radius: 10px;
}

.selected-stock-description::-webkit-scrollbar-thumb {
  background-color: #748D92;
  border-radius: 10px;
  border: 3px solid #D3D9D4;
}

.market-details-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.market-details-container h2 {
  align-self: start;
}

@media only screen and (max-width: 800px) {
  .stock-article {
    height: min-content;
    width: 95%;
    min-width: 20px !important;
    height: overflow;
  }

  .stock-article h2 {
    font-size: 20px;
  }

  .stock-article h1 {
    font-size: 24px;
  }

  .close-button {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
  }
}