
.watchlist-main-item {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  align-items: center;
  margin: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  width: 95%;
  height: 200px;
}

.watchlist-main-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.stock-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 16px;
}

.stock-details {
  flex: 1;
}
.stock-details p {
margin: 4px;
}

.stock-data {
  margin-top: 16px;
  color: #333;
}

.stock-data p {
  margin: 4px 0;
}