
.watchlist-main-item {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  align-items: center;
  margin: 20px;
  background-color: #FAF7F2;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  height:min-content;
  min-height: 200px;
  cursor: pointer;
  min-width: 600px;
  box-sizing: border-box;
  margin-bottom: 0px;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
}

.watchlist-main-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.stock-image {
  width: 100px;
  height: 100px;
  object-fit: contain;
  background-color: #748D92;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.stock-details {
  flex: 1;
}

.stock-details p {
margin: 4px;
margin-top: 0;
}

.stock-data {
  margin-top: 16px;
  color: #333;
}

.stock-data p {
  margin: 4px 0;
}

.watchlist-main-item-headers {
display: flex;
flex-direction: column;
margin-bottom: 20px;
align-items: flex-start;
margin: 2px;
margin-right: 16px;
}

.watchlist-main-item-headers h3, h4, h2 {
margin-block: 6px;
margin-left: 4px;
}

.watchlist-main-item h2 {
  margin-block: 15px;
  margin-left: 4px;
  font-size: 26px;
}
    


.description-container {
  display: flex;
  flex-direction: column;
  margin: 0px;
  align-items: center;
}

.description-container h3 {
  margin: 5px;
}

.watchlist-main-body {
  display:flex;
 
}
.stock-description {
  max-height: 185px;
  overflow-y: scroll;
  padding-left: 0px;
  box-sizing: border-box;
  border-radius: 8px;
  margin-top: 0px;
}

.stock-description::-webkit-scrollbar {
  width: 12px;
}

.stock-description::-webkit-scrollbar-track {
  background: #D3D9D4; 
  border-radius: 10px; 
}

.stock-description::-webkit-scrollbar-thumb {
  background-color: #748D92;
  border-radius: 10px; 
  border: 3px solid #D3D9D4; 
}

@media only screen and (max-width: 800px) {
  .watchlist-main-item {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 95%;
    min-width: 100px;
    box-sizing: border-box;
  }
  .stock-image {
    width: 80px;
    height: 80px;
  }
  .stock-details {
    font-size: smaller;
  }
    
  .stock-data {
    font-size: smaller;
  }
    
}